.about-section {
  @include media(desktop) {
  }
}

.about-bg-wrapper {
  padding-top: 48px;
  padding-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  max-width: 375px;

  @include media(desktop) {
    padding-top: 120px;
    padding-bottom: 120px;
    max-width: 1440px;
    background-image: url(../img/about/about-bg-desk.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto;
  }
}

.about-container {
  @include media(desktop) {
  }
}

.about-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include media(desktop) {
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    gap: 72px;
  }
}

.about-text-wrapper {
  @include media(desktop) {
    max-width: 526px;
  }
}

.about-title {
  margin-bottom: 12px;

  @include media(desktop) {
    text-align: left;
  }
}

.about-text {
  font-family: 'Lora', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #f6f6ff;

  @include media(desktop) {
  }
}

.about-img {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    min-width: 636px;
    margin: 0;
  }
}
