.faq-section {
  @include media(desktop) {
  }
}

.faq-bg-wrapper {
  padding-top: 48px;
  padding-bottom: 48px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 100px;
    padding-bottom: 0;
    max-width: 1440px;
    background-image: url(../img/faq/faq-bg-desk.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto;
  }
}

.faq-container {
  @include media(desktop) {
  }
}

.faq-title {
  @include media(desktop) {
    margin-bottom: 48px;
  }
}

.faq-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;

  @include media(desktop) {
  }
}

.faq-list-item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;

  @include media(desktop) {
    max-width: 697px;
  }
}

.faq-item-question-wrapper {
  padding: 0 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.24);
  padding-top: 12px;
  padding-bottom: 11px;

  @include media(desktop) {
  }
}

.faq-item-answer-wrapper {
  max-height: 0;
  overflow: hidden;
  transition:
    height 0.3s ease-in-out,
    opacity 0.3s ease-in-out,
    padding 0.3s ease-in-out;
  opacity: 0;

  @include media(desktop) {
  }
}

.faq-top-text-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @include media(desktop) {
  }
}

.faq-toggle-symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.faq-icon {
  min-width: 24px;
}

.faq-btn-text {
  font-family: 'Cinzel Decorative', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0em;
  color: #f6f6ff;
  text-align: left;

  @include media(desktop) {
  }
}

.faq-bottom-text {
  font-family: 'DM Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.25;
  color: #f6f6ff;

  @include media(desktop) {
  }
}

.is-visible {
  max-height: 500px;
  opacity: 1;

  @include media(desktop) {
    max-height: 100px;
  }
}

.faq-list-item.faq-open .faq-toggle-symbol {
  transform: rotate(180deg);
}

.faq-list-item.faq-open .faq-item-answer-wrapper {
  padding-top: 11px;
  padding-left: 12px;
  padding-right: 12px;
  opacity: 1;
  max-height: 500px;

  @include media(desktop) {
  }
}

.faq-img {
  display: none;

  @include media(desktop) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
  }
}
