.features-section {
  @include media(desktop) {
  }
}

.features-bg-wrapper {
  padding-top: 48px;
  padding-bottom: 80px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include media(desktop) {
    padding-top: 90px;
    padding-bottom: 140px;
    max-width: 1440px;
  }
}

.features-container {
  @include media(desktop) {
  }
}

.features-subtitle {
  margin-bottom: 8px;

  @include media(desktop) {
    max-width: 631px;
    margin-left: auto;
    margin-right: auto;
  }
}

.features-text {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fffffd;
  margin-bottom: 32px;

  @include media(desktop) {
    max-width: 477px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 74px;
  }
}

.features-swiper-container {
  max-width: 290px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.features-swiper-container.show {
  visibility: visible;
}

.features-swiper-wrapper {
  @include media(desktop) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
}

.features-slide {
  background: linear-gradient(180deg, #2b2a78 0%, #4c2f8d 45.19%, #204c8f 100%);
  border-radius: 8px;
  padding: 24px 22px;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  max-width: 290px;
  min-height: 144px;

  @include media(desktop) {
    width: 100% !important;
  }
}

.features-icon {
  @include media(desktop) {
  }
}

.features-item-text {
  font-family: 'Fredoka One', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  color: #fffffd;

  @include media(desktop) {
  }
}
