.header {
  background: transparent;
  padding: 6px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  @include media(desktop) {
    padding: 12px 0;
  }
}

.header-container {
  @include media(desktop) {
  }
}

.nav {
  background: rgba(51, 6, 2, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.24);
  border-radius: 50px;
  padding: 11px 23px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media(desktop) {
    padding: 15px 23px;
    justify-content: start;
  }
}

.header-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    gap: 12px;
  }
}

.header-logo-text {
  display: none;

  @include media(desktop) {
    display: inline;
    font-family: 'Cinzel Decorative', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    color: #f6f6ff;
  }
}

.nav-list {
  display: none;

  @include media(desktop) {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-left: auto;
  }
}

.nav-list-link {
  font-family: 'DM Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.25;
  color: #f6f6ff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition:
    color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: #f49f01;
  }
}

.header-cta-link {
  display: none;

  @include media(desktop) {
    display: flex;
    align-items: center;
    margin-left: 12px;
  }
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    display: none;
  }
}

.menu-icon {
}

.close-icon {
}

.close-btn {
  display: none;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    display: none;
  }
}
