<section class="section about-section" id="about">
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <div class="about-content-wrapper">
        <div class="about-text-wrapper">
          <h2 class="section-title about-title">How the Game Works</h2>
          <p class="about-text">
            The core loop is simple: you get a list of items at the bottom and a
            big, cluttered picture at the top. You can pinch the screen to zoom
            in and out, which is pretty much necessary if you want to find the
            smaller stuff like needles or coins. Once you find everything on the
            list, the level is done. If you get really stuck and can't find that
            last item, there's a hint button that circles a random object for
            you.
          </p>
        </div>
        <picture>
          <source
            srcset="./img/about/about-img-desk.png"
            media="(min-width: 1440px)"
            width="636"
            height="358" />
          <source
            srcset="./img/about/about-img-mob.png"
            width="343"
            height="194" />
          <img
            class="about-img"
            src="./img/about/about-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="194"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
