<section class="section about-section" id="about">
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <h2 class="section-title about-title">About the Game</h2>
      <p class="section-subtitle about-subtitle">
        A Garden World Built Around Small Joys
      </p>
      <div class="about-content-wrapper">
        <picture>
          <source
            srcset="./img/about/about-img-desk.png"
            media="(min-width: 1440px)"
            width="608"
            height="340" />
          <source
            srcset="./img/about/about-img-mob.png"
            width="343"
            height="340" />
          <img
            class="about-img"
            src="./img/about/about-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="340"
            loading="lazy"
        /></picture>
        <p class="about-text">
          So Grove Plot basically takes your typical match-3 setup but drops it
          into this world that actually feels warm and lived-in. Instead of
          abstract icons and flat boards, you work with apples, blueberries,
          lemons, and flowers that look like they belong in the world around
          them. It's not just throwing levels at you - it's giving you an actual
          place to be in.<br />
          And honestly? That's what stuck with me. You are not only solving
          puzzles but moving through a gentle landscape that feels handcrafted,
          bright, and easy to return to. The adorable wolf companion adds even
          more personality, making the whole experience feel friendlier and more
          grounded.
        </p>
      </div>
    </div>
  </div>
</section>
