<section class="section faq-section" id="faq">
  <div class="faq-bg-wrapper">
    <div class="container faq-container">
      <h2 class="section-title faq-title">COMMON QUESTIONS</h2>
      <ul class="faq-list">
        <li class="faq-list-item">
          <div class="faq-item-question-wrapper">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text"
                >Does this game cost money to play?</span
              >
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-caret"></use></svg
              ></span>
            </button>
          </div>
          <div class="faq-item-answer-wrapper">
            <p class="faq-bottom-text">
              No, you can download it for free and play through the levels
              without paying anything. We do show some ads between levels to
              keep things running, but they shouldn't pop up while you're
              actually in the middle of a search. If you want to get rid of
              them, there is an option in the store to go ad-free for a small
              fee.
            </p>
          </div>
        </li>
        <li class="faq-list-item">
          <div class="faq-item-question-wrapper">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text"
                >Can I play this while I'm offline?</span
              >
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-caret"></use></svg
              ></span>
            </button>
          </div>
          <div class="faq-item-answer-wrapper">
            <p class="faq-bottom-text">
              Yeah, the levels are downloaded with the app, so you can play
              without a Wi-Fi connection. This makes it a great choice for long
              flights or areas where you don't have good cell service. Just keep
              in mind you might need to go back online to get the latest daily
              challenges or updates.
            </p>
          </div>
        </li>
        <li class="faq-list-item">
          <div class="faq-item-question-wrapper">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text"
                >What should I do if the hint button isn't working?</span
              >
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-caret"></use></svg
              ></span>
            </button>
          </div>
          <div class="faq-item-answer-wrapper">
            <p class="faq-bottom-text">
              Usually, the hint button needs a few seconds to "recharge" after
              you use it once. If it’s totally grayed out, you might have used
              up your free hints for that level and need to wait or earn more.
              Sometimes just restarting the level can fix minor glitches if
              things feel a bit laggy.
            </p>
          </div>
        </li>
      </ul>
      <img
        class="faq-img"
        src="./img/faq/faq-img-desk.png"
        alt="Screenshot of the game"
        width="185"
        height="244"
        loading="lazy"
      />
    </div>
  </div>
</section>
