<section class="features-section section" id="features">
  <div class="features-bg-wrapper">
    <div class="container features-container">
      <h2 class="section-title features-title">Standout Features</h2>
      <div class="features-swiper-container">
        <ul class="swiper-wrapper features-swiper-wrapper">
          <li class="swiper-slide features-slide">
            <img
              class="features-img"
              src="./img/features/features-img1.png"
              alt="Screenshot of the game"
              width="96"
              height="186"
              loading="lazy"
            />
            <h3 class="features-item-title">Tons of Scenes</h3>
            <p class="features-item-text">
              We’ve got everything from messy kitchens and old attics to spooky
              forests and busy city streets
            </p>
          </li>
          <li class="swiper-slide features-slide">
            <img
              class="features-img"
              src="./img/features/features-img2.png"
              alt="Screenshot of the game"
              width="96"
              height="186"
              loading="lazy"
            />
            <h3 class="features-item-title">Zoom Function</h3>
            <p class="features-item-text">
              You can get a close-up look at every corner of the scene to make
              sure you didn't miss anything
            </p>
          </li>
          <li class="swiper-slide features-slide">
            <img
              class="features-img"
              src="./img/features/features-img3.png"
              alt="Screenshot of the game"
              width="96"
              height="186"
              loading="lazy"
            />
            <h3 class="features-item-title">Daily Challenges</h3>
            <p class="features-item-text">
              There are new puzzles added regularly so you don't run out of
              things to search for
            </p>
          </li>
          <li class="swiper-slide features-slide">
            <img
              class="features-img"
              src="./img/features/features-img4.png"
              alt="Screenshot of the game"
              width="96"
              height="186"
              loading="lazy"
            />
            <h3 class="features-item-title">Low Stakes</h3>
            <p class="features-item-text">
              No one is forcing you to hurry, so you can take as long as you
              need on every single level
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
