<footer class="footer" id="footer">
  <div class="container footer-container">
    <div class="footer-content-wrapper">
      <a class="footer-logo-link" href="./">
        <img
          class="header-logo-img"
          src="./img/header/header-logo.png"
          alt="Logo"
          width="40"
          height="40"
        />
        <span class="footer-logo-text">Grove Plot</span></a
      >
      <nav class="footer-nav">
        <ul class="footer-list">
          <li class="footer-list-item">
            <a class="footer-link" href="./privacy-policy.html"
              >Privacy Policy</a
            >
          </li>
          <li class="footer-list-item">
            <a class="footer-link" href="./terms-and-conditions.html"
              >Terms and Conditions</a
            >
          </li>
        </ul>
      </nav>
      <p class="footer-text">© 2026 northgrove.pro — All rights reserved</p>
    </div>
  </div>
</footer>
