<section class="gameplay-section section" id="gameplay">
  <div class="gameplay-section-wrapper">
    <div class="container gameplay-container">
      <div class="gameplay-text-wrapper">
        <h2 class="section-title gameplay-title">Why Players Love It</h2>
        <p class="gameplay-text">
          People usually play this when they want to "switch off" their brain
          for a bit. It’s a very meditative process - just scanning a picture
          and clicking on things. Unlike a lot of modern games that are loud and
          full of explosions, this one is quiet and rewards you for being
          observant. It’s also a big hit with anyone who grew up with those
          hidden object books and wants that same feeling on a digital screen.
        </p>
      </div>
    </div>
  </div>
</section>
