<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <div class="hero-text-wrapper">
          <h1 class="hero-main-title">Find what’s hidden in plain sight</h1>
          <p class="hero-subtitle">
            Hundreds of cluttered levels and thousands of hidden items
          </p>
          <p class="hero-text">
            Most of the time, the things you're looking for are right in front
            of you, but they're tucked behind furniture or blended into the
            wallpaper. You just need to tap the items as you find them to clear
            your list and unlock the next area. It’s a great way to relax and
            sharpen your focus without any stressful timers or "game over"
            screens hanging over your head.
          </p>
          <a
            class="hero-cta-link"
            href="https://play.google.com/store/apps/details?id=com.kaha.hiddenobjects&hl=en&gl=us"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Download on Google Play"
          >
            <picture>
              <source
                srcset="./img/hero/playstore-desk.png"
                media="(min-width: 1440px)"
                width="234"
                height="92" />
              <source
                srcset="./img/hero/playstore-mob.png"
                width="234"
                height="92" />
              <img
                class="hero-cta-img"
                src="./img/hero/playstore-mob.png"
                alt="Google Play"
                width="234"
                height="92"
            /></picture>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
