<section class="section locations-section" id="locations">
  <div class="locations-bg-wrapper">
    <div class="container locations-container">
      <div class="locations-content-wrapper">
        <div class="locations-text-wrapper">
          <h2 class="section-title locations-title">Exploring Locations</h2>
          <p class="locations-text">
            The game takes you through a lot of different environments, and each
            one feels a bit different. Some rooms are bright and easy to
            navigate, while others use shadows and weird angles to make the
            search much harder. You might start in a normal-looking house, but
            as you progress, the scenes get more "extra," like ancient ruins or
            underwater shipwrecks. It keeps the game from feeling like you're
            just looking at the same bedroom over and over.
          </p>
        </div>
        <picture>
          <source
            srcset="./img/locations/locations-img-desk.png"
            media="(min-width: 1440px)"
            width="633"
            height="292" />
          <source
            srcset="./img/locations/locations-img-mob.png"
            width="343"
            height="158" />
          <img
            class="locations-img"
            src="./img/locations/locations-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="158"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
