<section class="section locations-section" id="locations">
  <div class="locations-bg-wrapper">
    <div class="container locations-container">
      <div class="locations-title-wrapper">
        <h2 class="section-title locations-title">The Journey Map</h2>
        <p class="section-subtitle locations-subtitle">
          Follow the Path Through a Living Landscape
        </p>
      </div>
      <div class="locations-content-wrapper">
        <p class="locations-text">
          The progress feels better because you're moving through this actual
          map instead of just a boring level menu You move through winding
          roads, green spaces, ponds, and little countryside details that make
          each step feel connected to the last one.<br />
          It makes the whole thing feel more like you're actually going
          somewhere, discovering stuff. Unlocking a new area feels less like
          opening another screen and more like continuing a quiet adventure. You
          get into this nice flow of solving puzzles and then seeing what's next
          on the map
        </p>
        <picture>
          <source
            srcset="./img/locations/locations-img-desk.png"
            media="(min-width: 1440px)"
            width="426"
            height="436" />
          <source
            srcset="./img/locations/locations-img-mob.png"
            width="343"
            height="436" />
          <img
            class="locations-img"
            src="./img/locations/locations-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="436"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
