<div class="context-menu">
  <div class="container context-container">
    <nav class="context-nav">
      <ul class="context-nav-list">
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#home">Home</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#about">Gameplay</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#features">Features</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#locations"
            >Locations</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#gameplay"
            >How to Play</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#reviews">Reviews</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#faq">FAQ</a>
        </li>
      </ul>
      <a
        class="context-cta-link"
        href="https://play.google.com/store/apps/details?id=com.kaha.hiddenobjects&hl=en&gl=us"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Download on Google Play"
      >
        <img
          class="header-cta-img"
          src="./img/header/header-playstore.png"
          alt="Google Play"
          width="136"
          height="48"
      /></a>
    </nav>
  </div>
</div>
