<section class="reviews-section section" id="reviews">
  <div class="reviews-bg-wrapper">
    <div class="container reviews-container">
      <h2 class="section-title reviews-title">Player Reviews</h2>
      <ul class="reviews-list">
        <li class="reviews-slide">
          <picture>
            <source
              srcset="./img/reviews/reviews-img1-desk.png"
              media="(min-width: 1440px)"
              width="412"
              height="316" />
            <source
              srcset="./img/reviews/reviews-img1-mob.png"
              width="375"
              height="286" />
            <img
              class="reviews-img"
              src="./img/reviews/reviews-img1-mob.png"
              alt="Screenshot of the game"
              width="375"
              height="286"
              loading="lazy"
          /></picture>
        </li>
        <li class="reviews-slide">
          <picture>
            <source
              srcset="./img/reviews/reviews-img2-desk.png"
              media="(min-width: 1440px)"
              width="412"
              height="316" />
            <source
              srcset="./img/reviews/reviews-img2-mob.png"
              width="375"
              height="286" />
            <img
              class="reviews-img"
              src="./img/reviews/reviews-img2-mob.png"
              alt="Screenshot of the game"
              width="375"
              height="286"
              loading="lazy"
          /></picture>
        </li>
        <li class="reviews-slide">
          <picture>
            <source
              srcset="./img/reviews/reviews-img3-desk.png"
              media="(min-width: 1440px)"
              width="412"
              height="316" />
            <source
              srcset="./img/reviews/reviews-img3-mob.png"
              width="375"
              height="286" />
            <img
              class="reviews-img"
              src="./img/reviews/reviews-img3-mob.png"
              alt="Screenshot of the game"
              width="375"
              height="286"
              loading="lazy"
          /></picture>
        </li>
      </ul>
    </div>
  </div>
</section>
